{% extends 'avtoprokat/base.html' %}

{% block title %}Добавить машину{% endblock %}

{% block content %}
{% load static %}
<div class="car" style='padding: 3%; padding-left: 20%; padding-right: 20%;'>
<form action="{% url 'addcar' %}" method="post"> {% csrf_token %}
<h4 class="text-center">Добавить машину</h4>
        <div class="form-group">
                <p>Название машины:</p>
                <input type="text" id="carname_en" name="carname_en" class="form-control" placeholder="На английском" required="required">
                <br>
                <input type="text" id="carname_ru" name="carname_ru" class="form-control" placeholder="На русском" required="required">
        </div>
        <div class="form-group">
                <p>Год создания:</p>
                <input type="text" id="created_date" name="created" class="form-control" placeholder="yy-mm-dd" required="required">
        </div>

        <div class="form-group" style='padding-left: 30%; padding-right: 30%;'>
                <button type="submit" class="btn btn-primary btn-block">Добавить</button>
        </div>
</form>
</div>

{% endblock content %}